html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 11rem;
  }

  .offcanvas-collapse.open {
    -webkit-transform: translateX(11rem);
    height: 11rem;
    transform: translateX(11rem);
    /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

#container {
  position: relative;
}

.learn-more {
  padding-top: .75rem;
  padding-bottom: .75rem;
  margin-left: 1rem;
  font-size: .875rem;
  color: white;
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.image {
  position: relative;
  width: 100%;
}

.client-image {
  height: 15rem;
  width: 100%;
}

.thumbnail {
  position: relative;
  height: 20rem;
  overflow: hidden;
}
.banner-thumbnail{
  position: relative;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .banner-thumbnail {
    position: relative;
    height: 40rem;
    overflow: hidden;
  }
.text-label {
  top: 90% !important;
}
.we-are-text {
  top: 15% !important;
  font-size: 2.5rem !important;
  }
}
.banner {
  position: relative;
}

.text-label {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 1.2rem;
  transform: translate(-50%, -50%);
  background-color: #36b3a8;
  padding: .7rem;
  border-radius: 25px;
  color: white;
}
.we-are-text {
  position: absolute;
  top: 42%;
  left: 50%;
  text-align: center;
  font-size: 3.5rem;
  transform: translate(-50%, -50%);
  color: rgb(201, 183, 190);
}

.about-text {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 50%;
  font-size: 1.2rem;
  transform: translate(-50%, -50%);
  color: rgb(201, 183, 190);
}

.text-label:hover {
  background-color: #074e48;
}

.text-label-color {
  color: #074e48;
}

a:hover {
  text-decoration: none;
  color: #074e48;
}

p {
  margin: 1rem;
}

h1 {
  margin: 1rem;
}

h2 {
  margin: 1rem;
}

h3 {
  margin: 1rem;
}

.m-left {
  margin-left: 1rem;
}

.text-white-50 {
  color: rgba(255, 255, 255, .5);
}

.bg-purple {
  background-color: var(--purple);
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}